body {
    background-color: orange;
    margin: 0px;
    overflow: hidden;
    text-align: center;
    font-family: 'Zen Loop';
    font-size: large;
}

#game-container {
    position: relative;
    height: 384px;
    width: 480px;
    margin: 0 auto;
    padding: 0;
}

.stack_button {
    height: 40px;
    margin: 10px;
    background-color: #4e82dc;
    font-family: 'Zen Loop';
    font-size: large;
    border: 0px;
    border-radius: 3px;
    color: white;
}

canvas {
    margin: 0;
    padding: 0;
    border: 1px solid;
    image-rendering: pixelated;
}